<h1> Log In Page </h1>

<ul>
    <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    <% end %>
</ul>

<%= form_for @user, url: sessions_create_path, method: :post do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %><br>

    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation%><br>

    <%= f.submit %>
<% end %>