<div id="login" class="container form-check">
    <% if flash.now[:error] %>
        <div class="error-color"><%= flash.now[:error] %></div><br>
    <% end %>


    <%= form_tag sessions_login_path, method: :post do %>
        <%= label_tag :username %>
        <%= text_field_tag :username, "", class: 'input is-rounded'%><br><br>
        <%= label_tag :password %>
        <%= password_field_tag :password , "", class: 'input is-rounded'%><br><br>

        <%= submit_tag "Log In", class: "button is-info"%>
    <% end %>
</div>