<h1> Log In Page </h1>

<ul>
    <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    <% end %>
</ul>

<%= form_tag sessions_login_path, method: :post do %>
    <%= label :username, "Username" %>
    <%= text_field :username, "Username" %>
    <%= label :password, "Password" %>
    <%= password_field :password, "Password" %>

    <%= submit_tag %>
<% end %>