<div id="profile" class="container notification">

    <div class="title"><%= @user.display_name %></div>
    <div><strong>Events history:</strong></div>
    <ul>
        <% @user.events.each do |event| %>
            <li><%= event.name %></li><br>
        <% end %>
        <div><%= link_to "Show All Events", events_path %> </div>
    </ul>
    <div><strong>Hotels history:</strong></div>
    <ul>
        <% @user.hotels.each do |hotel| %>
            <li>Name: <%= hotel.name %></li>
            <li>length of stay: <%= @user.length_of_stay_by_hotel(hotel.id) %> days</li><br>
        <% end %>
    </ul>

    <%= button_to "Attend new event", events_path, class: 'button is-info', method: :get %>
</div>