<div id="event-index" class="container">
    <div class="title">Event list</div>

    <ul>
        <% @events.each do |event| %>
            <%# <li><%= link_to event.name, event_path(event.id) %>

            <div class="card" style="width: 18rem;">
                <a href ="events/<%=event.id%>">
                <img id="event-img" src=<%= image_path("book-today-disc.png")%> class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <p class="card-text"> <%= event.name %> in <%= event.location.city %></p>
                </div>
            </div>
        <% end %>
    </ul>
</div>