<h2><%= @event.name %></h2>
<div>Type of Event: <%= @event.type_of_event %></div><br>
<div>Ticket Cost: <%= "$#{@event.ticket_cost}" %></div><br>
<div>Date: <%= @event.date %></div><br>
<div>Location: <%= @event.location.city %></div><br>

<h4>To Register, select your hotel below: </h4>
<div>Hotels in <%= @event.location.city %></div>

<%= form_tag book_event_path(@event.id) do %>
    <%= collection_select :hotel, :id, @event.location.hotels, :id, :name %><br><br>
    <%= label_tag 'Length of stay in days:' %><br>
    <%= number_field_tag :length_of_stay %><br><br>
    <%= submit_tag "Book Event" %>
<% end %>