<div class="container notification margin-top">
    <div class="title"><%= @event.name %></div>
    <div><strong>Ticket Cost:</strong> <%= "$#{@event.ticket_cost}" %></div><br>
    <div><strong>Location:</strong> <%= @event.location.city %></div><br>
    <div><strong>Type of Event:</strong> <%= @event.type_of_event %></div><br>
    <div><strong>Event Date:</strong> <%= @event.date %></div><br>

    <%= form_tag book_event_path(@event.id) do %>
        <strong><%= label_tag "Hotels Avaliable near this Event:" %></strong>
        <div class="select is-success">
        <%= collection_select :hotel, :id, @event.location.hotels, :id, :name %><br><br>
        </div><br>
        <strong><%= label_tag "Stay in days:" %></strong>
        <%= number_field_tag :length_of_stay, "", class: 'is-success',placeholder: "1,2,3,4"%> days<br><br>
        <%= submit_tag "Book Event", class: "button is-success"%>
    <% end %>
    </div>
</div>